<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HOME</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">CATEGORIES</a></li>
      <li><a href="#">POST AD</a></li>
    
    </ul>
      <ul class="nav navbar-nav navbar-right">
	   <li ><a href="myaccount.html"><span class="glyphicon glyphicon-user"></span>My Account</a></li>
        <li ><a href="" data-target="#register1" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="" data-target="#login1" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </div>
</nav>
