
body {
    background-color:green;
}

h1 {
    color: navy;
    margin-left: 20px;
	background-color:yellow;
}
p{color:blue;}
h2{color:red;background-color:black;}
img.opacity {
	opacity: 1;
	filter: alpha(opacity=50);
	}	
	
img.opacity:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	}
