header {
	text-align:center;
	font-family: 'Script MT Bold',Serif;
        font-size: 48px;
} 
#cf6_image {
	float:left;
  margin:0 auto;
  width:450px;
  height:281px;
  transition: background-image 1s ease-in-out;
  background-image:url("a.jpg");
  margin-right:10px;
  margin-bottom:10px;
}

#cf6_image:hover {
	float:left;
  background-image:url("b.jpg");
  margin-right:10px;
  margin-bottom:10px;
}

#we{
	margin:5px;
	text-align:justify;
}

#horizontal-scroll {
width: 1350px;
height: 680px;
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/bg-repeat.png);
-webkit-animation: backgroundScroll 20s linear infinite;
animation: backgroundScroll 20s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
        
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}