h1 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}



header{

  width: 100%;
  height:100px;
  background-color:grey;
  margin-top:-20px;
  font-size:2em;
  text-align :center;
  background-image:url("background6.jpg");

}



footer{

  width: 100%;
  height:100px;
  background-color:grey;
  text-align :center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-image:url("background6.jpg");

}


div.desc1 {
	width:300px;
	height:70px;
	background-color:black;
	border:2px solid black;
    padding: 0px;
    text-align:center;
	
	color:white;
}

div.desc {
	width:225px;
	height:70px;
	background-color:black;
	border:2px solid black;
    padding: 0px;
    text-align:center;
	
	color:white;
}


div.pics1 img {
    width:  300px;
    height: 220px;
    border:2px solid black;
	
}


.form_bg {
  background-image:url("background6.jpg");
  
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 550px;

}

.form_blg {
    background-image:url("background6.jpg");

    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 320px;

}


#cf6_image {
	float:left;
  margin-top:-40px;
  width:1350px;
  height:170px;
  transition: background-image 1s ease-in-out;
  background-image:url("deal1.png");
  margin-right:10px;
  margin-bottom:10px;
}
#cf6_image:hover {
	float:left;
  background-image:url("deal1.jpg");
  margin-right:10px;
  margin-bottom:10px;
}

.form_bpg {
background-image:url("background6.jpg");
    padding:20px;
    border-radius:10px;
    position: relative;
    border:1px solid #fff;
    margin: auto;
    
  
   
}