#ls {
    background:#333;
}
.form_bg {
  background-image:url("background6.jpg");
  
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 550px;
}

.form_blg {
    background-image:url("background6.jpg");

    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 320px;
}

.form_bpg {
/*background-image:url("background6.jpg");*/
    padding:20px;
    border-radius:10px;
    position: relative;
    border:1px solid #fff;
    margin: auto;
  
   
}
.align-center {
    text-align:center;
}








#header1{
	
	background-image:url("background6.jpg");
}

.head1
{
	font-size:5em;
}

#myCarousel,img
{
	width:1350px;
	height:640px;
}
	
#nav1
{
  margin-top:-35px;
  border-bottom: -30px;
  background-color:#C6D1CB;
  color:black;
}	
	
	
	
	#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn1 {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
	background-color:black;
	box-shadow:none;
}

footer
{
	background-image:url("background6.jpg");
	bottom:0;
	margin-left:-15px;
	margin-right:-15px;
	width:1360px;
	text-align:center;
}









#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 18%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}


#logo
{
margin-left:10px;	
margin-right:10px;	
width:50px;
height:50px;
}


div.pics { 
    margin-bottom:0px;
    border: 2px solid #ccc;
    float: left;
    width: 225px;
	height:200px;
	text-align:center;
}

/*div.pics:hover {
    border: 2px solid cyan;
}*/

div.pics img {
    width:  200px;
    height: 180px;
	
}

div.desc {
	width:225px;
	height:70px;
	background-color:black;
	border:2px solid black;
    padding: 0px;
    text-align:center;
	
	color:white;
}


div.pics1 img {
    width:  300px;
    height: 220px;
	
}

div.desc1 {
	width:300px;
	height:70px;
	background-color:black;
	border:2px solid black;
    padding: 0px;
    text-align:center;
	
	color:white;
}

#deal12
{
	margin-top:-40px;
}







.container1 {
  position: relative;

}

.image1 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container1:hover .overlay {
  opacity: 1;
}

.text1 {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#history
{
 text-align:center;	
}	

#adv
{
 border:1px solid black;
 height:400px;
}

#buy
{
 border:1px solid black;
 height:400px;
}	

#cf6_image {
	float:left;
  margin-top:-40px;
  width:1350px;
  height:170px;
  transition: background-image 1s ease-in-out;
  background-image:url("deal1.png");
  margin-right:10px;
  margin-bottom:10px;
}
#cf6_image:hover {
	float:left;
  background-image:url("deal1.jpg");
  margin-right:10px;
  margin-bottom:10px;
}

#first
{
 border-right: 1px solid black;
 height:500px; 
}	