h1 {
background-color:#56b3e5;
  padding-bottom:20px;
}

div {
	background-color:#a9c0d2;
	padding-top:0px;
	}
	
	p {
		background-color:#dbffde;
		 padding-bottom:10px;
	}
	
	
	body{
		background-color:#dbffde;
		 padding-bottom:10px;
	}